<div class="mt-2">
  <p>{{"Address: #{cinema.address.street} Street, #{cinema.address.city} City, #{cinema.address.country}"}}</p>
</div>
<div class="container mx-0 px-0">
  <div class="row">
    <div class="col-6">
      <p>Image:</p>
      <img src={{cinema.image}}></img>
    </div>
    <div class="col-6">
      <p>Location:</p>
    {{cinema.map}}
    </div>
  </div>
</div>